.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 100px;

  .home {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    &__title {
      font-weight: 500;
      font-size: 24px;
      span {
        color: #a75270;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
    }
    &__declaration {
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
    &__remark {
      color: #a75270;
    }
    p a {
      cursor: pointer;
      color: #a75270;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 900px) {
  .main {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 400px) {
  .main {
    padding: 15px 10px;
    .home {
      gap: 20px;
      &__title {
        font-weight: 400;
        font-size: 18px;
      }
      &__description {
        gap: 10px;
        font-size: 14px;
      }
    }
  }
}
